@import url('https://fonts.googleapis.com/css?family=Kanit');

body{
    background-color: #222222;
}

.main-body{
    width: 80%;
    background-color: #32292F;
    
    margin: auto;
    padding-bottom: 50px;
}


.title{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 18px;
}

.header{
    height: 120px;
    background-color: #20775E;
    align-items: center;
    border-radius: 10px;
}

.layout.header-text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;  
    font-size: 50px;
}

.header-text{
    

    
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.2;
    
    color: #D4C5C7;

    text-shadow: 0 0 8px #000000, 0 0 5px #000000;
    

}

.header-image{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 10px;
}

.main.game-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 0px 15px 0px 15px;
}

a.main.game-card{
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.main.game-title{
    background-color: #685F74;
    width: 100%;
    border-radius: 15px;
    height: 90px;
    vertical-align: middle;
}

.main.game-picture{
    padding: 10px 0px 10px 0px;
    width: 90%;
}

div.main.game-picture{
    background-color: #685F74;
    border-radius: 15px;
    width: 100%;
}