.head{
    height: 200px;
    background-color: crimson;
}

.head-text{
    text-align: center;
}

.head input[type=text]{
    text-align: center;
    margin-left: auto;
}

.main.w3-card-4{
    width: 300px;
}


.three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

h2.main{
    font-size: 20px;
}

a.main{
    text-decoration: none;
}

.main.game-name{
    text-align: center;
    padding-top: 6px;
}

.game.one-two-one-column{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.game.info{
    border-right: black solid 3px;
    border-left: black solid 3px; 
    padding: 0px 10px 0px 10px;
    height: 600px;
}

.game.game-name{
    text-align: center;
}

.game.picture-card{
    width: 300px;
    max-width: fit-content;
    border-left: black solid 3px;

} 



.game.game-picture{
    width: 100%;
}

p.game.description{
    font-size: 13px;
    line-height: 1.35;
    overflow: auto;
    height: 440px;  
}

.game.titles{
    text-decoration: underline;
}

.game.extra{
    display: grid;
    grid-template-rows: 1fr 2fr;
    border-right: black solid 3px
}

.game.extra-info{
    border-bottom: black solid 3px;
}

.body{
    width: 90%;
    margin: auto;
}

div.main{
    margin-left: 18px;
}

.main.game-card:hover{
    scale: 1.1;
}

.main.game-card{
    transition: 0.2s;
    background-color: #ffffff;
}