{% extends "layout.html" %}

{% block header %}
<title>Steam Database</title>
{% endblock %}

{% block content %}


<div class="main game-grid">
    {% for game in games %}
    <a class="main game-card" href="/game/{{game['id']}}">
        <div class="main game-title">
            <h1 class="main game-title header-text">{{ game['name'] }}</h1>
        </div>
        <div class="main game-picture">
            <img src="{{ url_for('static', filename='images/' + game['pic_link']) }}"
                alt="{{ game['name'] }} game picture" class="main game-picture">
        </div>
    </a>
    {% endfor %}
</div>


{% endblock %}